# Node dependencies
node_modules/
dist/
build/
.turbo/

# Environment files
.env
.env.*
! .env.example
environments/*.env

# NestJS / TypeScript
*.tsbuildinfo
out/

# App-specific artifacts (CDN/Processing)
temp_processing/
upload/
public/
student_helper_db_frxm.session.sql

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# IDEs
.vscode/
.idea/
.DS_Store

# DB
student_helper_db_p6j7.session.sql